@font-face {
    font-family: Rounded;
    src: url("../fonts/KoryakaFree-Rounded.woff2") format("woff2"), url("../fonts/KoryakaFree-Rounded.woff") format("woff");
}

body {
    margin: 0 auto;
    padding: 0;
    background-image: url(../images/88.png);
}

.wrapper {
    margin: 0 auto;
    max-width: 1300px;
    min-width: 1000px;
}

.header {
    position: relative;
    height: 80px;
    background-color: #181818;
    z-index: 7;
    box-shadow: 0 0px 19px 2px rgba(0, 0, 0, .91);
    min-width: 1000px;
    margin: 0 auto;
}

.logo {
    display: inline-block;
    z-index: 10;
    margin-top: 10px;
}

#head {
    max-width: 1300px;
    min-width: 1000px;
    margin: 0 auto;
}

#contact {
    display: inline-block;
    float: right;
    margin: 19px 20px 0 0;
}

span#contact img {
    position: absolute;
    transition: all 0.3s ease-in-out;
}

#contatc:hover img#img1 {
    opacity: 1;
    filter: alpha(opacity=100);
}

#contatc:hover img#img2,
#contact img#img2:hover {
    opacity: 0;
    filter: alpha(opacity=0);
}

#contatc img#img1 {
    opacity: 0;
    filter: alpha(opacity=0);
}

.tag {
    display: inline-block;
    font: 15px verdana;
    color: #FFD400;
    vertical-align: super;

}

.menu-top {
    vertical-align: top;
    display: inline-block;
    font: 20px rounded;
    margin-left: 50px;
}

.header ul {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
}

.header ul li {
    margin: 0;
    display: inline-block;
    padding: 30px 0;
}

.header a {
    display: block;
    padding: 0 20.5px;
    color: #bdbdbd;
    text-decoration: none;
    transition: all 0.3s ease-out;
}

.header a:hover {
    color: red;
}

.content {
    float: left;
    position: relative;
    width: 74%;
    margin-top: 100px;
    background-color: #2B2B2B;
    color: #A7A8AC;
    box-shadow: 0 0 8px 1px rgba(0, 0, 0, .3);
}

#img {
    position: absolute;
    left: 44.5%;
    top: -60px;
}

.left-menu {
    float: right;
    width: 24%;
    height: 700px;
    border-radius: 0 0 5px 5px;
    background-color: #2E2E2E;
    box-shadow: 0 0 8px 1px rgba(0, 0, 0, .54);
    height: 700px;

}

@media screen and (max-width: 1000px) {
    .ad-menu {
        display: none;
    }

    .content {
        width: 100%;
    }
}

#pict {
    height: 120px;
    background-size: contain;
}

.left-menu a {
    color: #bdbdbd;
    text-decoration: none;
    font: 18px rounded;
    transition: all 0.3s ease-out;
}

.left-menu a:hover {
    color: red;
}

.left-menu ul {
    list-style: none;
    padding-top: 40px;
    padding-left: 25px;
}

.left-menu ul li {
    padding-bottom: 40px;
}

#zag {
    text-align: center;
    padding-top: 0;
    margin: 50px 0 0 0;
    color: #FF8C00;
}

#text {
    text-indent: 40px;
    padding: 0px 20px 10px 40px;
    margin-bottom: 15px;
    font: 18px Comic Sans MS;
}

#text2 {
    padding: 0px 20px 10px 40px;
    margin-bottom: 15px;
    font: 18px Comic Sans MS;
}

table {
    margin-top: 30px;
    border-spacing: 0 6px;
    ;
}

table tr:hover {
    transform: scale(1.05);
    cursor: zoom-in;
}

#cell1 {
    width: 17%;
    text-align: left;
    background-color: #1E1E1E;
    border-radius: 10px 0 0 10px;
}

#cell2 {
    background-color: #383838;
    border-radius: 0 10px 10px 0;
    text-indent: 20px;
    padding: 0 10px;
}

#obd {
    color: #00FFC8;
}

#vid {
    color: #FF0000;
}

#ogl {
    color: #FF8C00;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 0;
}

#p {
    margin-top: 5px;
    margin-bottom: 5px;
}

#p:first-child {
    margin-top: 25px;
    margin-bottom: 5px;
}

body > a img {
    position: fixed;
    right: 10px;
    bottom: 10px;
    border-radius: 40px;
}
